@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
    background-color: #817F75;
    margin: 0px;
}

#principal {
    height: 100px;
    padding: 10px; 
    background-color: #0A1045;
    position: relative;
}

#title {
    color: #50FFB1;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: absolute; 
    bottom: 10px;
    left: 10px; 
}

#link {
    color: #50FFB1;
    width: 20%;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    text-decoration: none;
    text-align: center;
    bottom: 10px; 
}

#link h2 {
    color: #50FFB1;
    font-size: 2em;
    margin: 0;
}

#link h2:hover {
    color: #AA4586;
}

#icon {
    width: 100px;
    height: 100px;
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}

#user-greeting {

    position: absolute;
    width:100px;
    bottom: 10px; 
    right: 180px; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#user-greeting p {
    margin-bottom: 10px;
    color: #50FFB1;
    font-size: 1.2em;
}

#logout-link {
    color: #50FFB1;
    text-decoration: none;
}

#logout-link:hover {
    color: #AA4586;
}
