{% extends "base.html" %}
{% load static %}

{% block title %} B3Tracker - Monitore Ativos {% endblock  %}
{% block static_files %}
    <link rel="stylesheet" href="{% static "Ticker/home.css" %}">
    <link rel="stylesheet" href="{% static "Ticker/form.css" %}">
    <link rel="stylesheet" href="{% static "Ticker/ticker_list.css" %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script>
        $(document).ready(function() {
            $('.money').mask('000.00', {reverse: true});
        });
    </script>
{% endblock  %}

{% block href %}{% url "details" %}{% endblock  %}
{% block link_name %}Detalhes{% endblock  %}


{% block content %}

<div class = "item" id = "instructions">

    <header class = "div-header">
        <h2>Monitore seus Ativos da B3</h2>
    </header>

    <p>
        Insira o ativo que deseja monitorar, além dos valores indicados para compra (túnel inferior) e venda (túnel superior) e a periodicidade da checagem do valor do ativo.
    </p>

    <p>
        Assim, estaremos acompanhando a evolução do valor dos seus ativos de interesse e notificando via e-mail caso ocorra uma situação de compra ou venda do ativo.
    </p>
</div>

<div class = "item" id =  "form-container">
    <header class = "div-header">
        <h2>Adicione ativos ou Edite parâmetros</h2>
    </header>

    <form action="" method = "POST">
        {% csrf_token %}
        <div class = "form-control">
            <label for="ticker">Código da ação</label>
            <input type="text" maxlength="5" name="ticker" placeholder = "Código da Ação" required>
        </div>

        <div class = "form-control">
            <label for="tunnel-inf">Túnel inferior</label>
            <input type="text" step="0.01" min="0" name="tunnel-inf" placeholder = "R$ 0,00" class="money" required>    
        </div>

        <div class="form-control">
            <label for="interval">Intervalo de monitoramento</label>
            <input type="number" name="interval" min="1" max="999" placeholder = "1 min" required>    
        </div>

        <div class = "form-control">
            <label for="tunnel-sup">Túnel superior</label>
            <input type="text" name="tunnel-sup" placeholder = "R$ 0,00" class="money" required>    
        </div>
        
        <div class="button-control">
            <button type="submit">Confirmar</button>
        </div>
    </form>

</div>

<div class = "item" id = "ticker-list-container">

    <header class = "div-header">
        <h2>Ações Monitoradas</h2>
    </header>

    <div class = "ticker">
        <div class = "ticker-info" id="ticker-info-title">
            Ticker
        </div>

        <div class = "ticker-info" id="ticker-info-value">
            Preço
        </div>
    </div>

    {% for ticker in tickers %}
    
    <div class = "ticker">
        <div class="ticker-info">
            <a href="{% url "delete" ticker.ticker %}" class="ticker-icon-link">
                <img src="{% static "Ticker/excluir.png" %}" alt="" class="ticker-icon">
            </a>
            {{ticker.ticker}}
        </div>

        <div class = "ticker-info">
            {{ticker.value}}
        </div>
    </div>
    
    {% endfor %}

    <div class = "ticker-button">
        <a href="{% url "details" %}">
            <button>Ver Detalhes</button>
        </a>
    </div>
</div>

{% endblock  %}

{% block error_msg %}

    {% if error %}
    <div class = "error-msg">
        <h2>
            {{error}}
        </h2>
    </div>
    {% endif %}

{% endblock  %}